{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    ["@babel/plugin-transform-runtime"],
    ["import",{"libraryName": "antd","libraryDirectory": "es","style": "css"}]
  ]
}