.layout-header{
  padding: 0;
}
.layout-logo{
  float: left;
  border-right: 1px solid #393b3e;
  width: 56px;
  text-align: center;
  img{
    width: 40px;
    cursor: pointer;
    margin-top: -6px;
  }
}
.layout-title{
  float: left;
  color: #ffffff;
  width: 144px;
  text-align: center;
  height: 64px;
  line-height: 64px;
  border-right: 1px solid #393b3e;
  font-size: 24px;
}